
<mat-card class='project-card'>
  <mat-card-content flex>
  <p>
      SequenzaTools is the development group project dedicated to mantain and improve the sequenza R package.
    </p>
    <p>
      A part the R package, SequenzaTools also includes different projects related to the sequenza analysis
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color='accent' href='https://bitbucket.org/sequenzatools'>
      SequenzaTools at BitBucket
    </a>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>

<app-projects></app-projects>
