<mat-toolbar>
  <mat-icon class='header-icons' svgIcon='link'></mat-icon>
  <span>References</span>
</mat-toolbar>
<mat-card class='cite-card'>
  <mat-card-header>
    <mat-card-title>Cite Sequenza</mat-card-title>
  </mat-card-header>
  <mat-card-content flex>
    <span>
      <a href='https://dx.doi.org/10.1093%2Fannonc%2Fmdu479'>Sequenza: allele-specific copy number and mutation profiles from tumor sequencing data</a>
      F. Favero, T. Joshi, A. M. Marquard, N. J. Birkbak, M. Krzystanek, Q. Li, Z. Szallasi, A. C. Eklund
      <cite>Annals of Oncology</cite>, Volume 26, Issue 1, 1 January 2015, Pages 64–70
    </span>
  </mat-card-content>
  <img class='annonc' src='https://www.ncbi.nlm.nih.gov/corehtml/pmc/pmcgifs/logo-annonc.png'>
</mat-card>
<mat-divider></mat-divider>
<mat-toolbar>
  <mat-icon class='header-icons' svgIcon='update'></mat-icon>
  <span>News</span>
</mat-toolbar>
<mat-list>
  <mat-list-item *ngFor='let n of news' class='column'>
    <a mat-list-icon href='{{ n.link }}'>
      <mat-icon color='warn'
        aria-label='Read more'
        svgIcon='magnify-plus'>
      </mat-icon>
    </a>
      <h4 mat-line>{{ n.title }}</h4>
      <p mat-line>{{ n.date | date: short }}</p>
      <p mat-line>
        {{ n.description }}
      </p>
  </mat-list-item>
</mat-list>
