.cite-card {
  margin:2em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.annonc {
  max-height: 50px;
  max-width: 300px;
}

::ng-deep .mat-list .mat-list-item .mat-line{
     word-wrap: break-word;
    white-space: pre-wrap;
}
