<mat-grid-list [cols]='cols | async' rowHeight='500px' gutterSize='2px'>
  <mat-grid-tile *ngFor='let project of projects' class='column'>
    <div class='card-equal-height column'>
      <mat-card class='project-card'>
        <mat-card-header>
          <mat-icon mat-card-avatar svgIcon='{{ project.avatar }}' ></mat-icon>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class='cardbanner' src='{{ project.img }}'>
        <mat-card-content flex>
          <p>
            {{ project.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class='card-foot'>
          <a mat-raised-button color='accent' href='{{ project.url }}'>
            Go to {{ project.name }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
