
.project-card {
  margin:2em;
  display: flex;
  flex-direction: column;
}

.column {
  min-width: 250px;
}

.cardbanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 250px;
}

mat-card-content {
  display: flex;
  flex: 1;
}

.card-equal-height .card-foot {
  margin-top: auto;
}
