<div fxLayout='row' fxLayout.xs='column'>
  <mat-card class='contact-card' fxFlex='40%;' fxFlex.xs='80%'>
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon='forum' ></mat-icon>
      <mat-card-title>Google Group</mat-card-title>
    </mat-card-header>
    <mat-card-content flex>
      <p>
        Visit the
        <a href='https://groups.google.com/forum/#!forum/sequenza-user-group'>Sequenza User Group</a> page
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class='contact-card' fxFlex='40%;' fxFlex.xs='80%'>
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon='email' ></mat-icon>
      <mat-card-title>Email</mat-card-title>
    </mat-card-header>
    <mat-card-content flex>
      <p>
        Contact the <a href='mailto:francesco.favero@bric.ku.dk'>authour</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div fxLayout='row' fxLayout.xs='column'>
<mat-card class='contact-card' fxFlex='100%;' fxFlex.xs='100%'>
  <mat-card-header>
    <mat-icon mat-card-avatar svgIcon='comment' ></mat-icon>
    <mat-card-title>Live comments</mat-card-title>
  </mat-card-header>
  <mat-card-content flex>
    <disqus [identifier]='pageId'></disqus>
  </mat-card-content>
</mat-card>
</div>
