.title-center {
  margin: 0 auto;
}

.fill-space {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.main-toolbar {
	padding-left: 1px;
	top: 0px;
	position: sticky;
    position: -webkit-sticky;
	z-index: 50;
}

.main-row {
  height: 100px;
}

.logo {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 80px;
}

.column {
  min-width: 300px;
}

.footer {
  margin: 0 auto;
  padding: 8px;
  font-size: 10px;
}
