<mat-sidenav-container fullscreen class='sidenav-container column'>
  <mat-sidenav
    #drawer
    class='sidenav'
    mode='over'
    fixedInViewport='true'
    [attr.role]='isHandset ? "dialog" : "navigation"'
    [mode]='(isHandset | async)!.matches ? "over" : "side"'>
    <mat-toolbar color='primary'>
      <span>Menu</span>
      <span class='fill-space'></span>
      <button
        type='button'
        aria-label='Toggle sidenav'
        mat-icon-button
        (click)='drawer.toggle()'
        *ngIf='(isHandset | async)!.matches'>
        <mat-icon svgIcon='close' aria-label='Side nav toggle icon'>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor='let page of navpages'>
      <button mat-button [routerLink]='[page.link]'
      routerLinkActive='mat-warn'>{{ page.name }}</button>
    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color='primary' class='main-toolbar'>
      <mat-toolbar-row class='main-row'>
        <button
          type='button'
          aria-label='Toggle sidenav'
          mat-icon-button
          (click)='drawer.toggle()'
          *ngIf='(isHandset | async)!.matches'>
          <mat-icon svgIcon='menu' aria-label='Side nav toggle icon'>menu</mat-icon>
        </button>

        <span class='title-center'>
          <mat-icon class='logo' svgIcon='sequenza'>Sequenza</mat-icon>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf='!(isHandset | async)!.matches'>
        <span class='fill-space'></span>
        <nav mat-tab-nav-bar>
          <a mat-tab-link *ngFor='let page of navpages'
             [routerLink]='[page.link]'
             routerLinkActive #rla='routerLinkActive'
             [active]='rla.isActive'>
            {{ page.name }}
          </a>
        </nav>
        <span class='fill-space'></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <mat-toolbar color='primary'>
      <mat-icon svgIcon='sequenza-black'></mat-icon>
      <div class='footer' layout='row' layout-align='center center'>
        <span class='fill-space'></span>
        <span class='fill-space'></span>
        <span class='fill-space'>Powered by angular-material</span>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
